Demonstracijska igra_clone_0/
Demonstracijska igra_clone_1/
DemonstracijskaIgraVjezba/Library/PackageCache/com.unity.ide.visualstudio@2.0.14/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/